.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 80%;
  padding: 1rem;
}

.meaning {
  font-size: 1.3rem;
  margin-top: 10px;
}

.emoji-small {
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
